*{
	font-family: Calibri, Optima, Candara, Segoe, "Segoe UI", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	
}

body{
	margin:0; /*chrome had 8px left&top?!*/
}

hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #777; /* old IE */
    background-color: #777; /* Modern Browsers */
}

a:link, a:visited, .a{
 color: #33abff;
 text-decoration: none;
}
a:hover, a :active, .a:hover {
 color: #33abff;
 text-decoration: none;
 font-weight:bold;
}

.iconGray{
  vertical-align: middle;
	
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.valign-img{
  vertical-align: middle;
}

.disabled{
   background-color: #ffcccc;
}

.hand{
  cursor: pointer;	
}

.center{
  display: table;
  margin: 0 auto;	
}

#allResults{
	margin-left:30px;
}

.aboutDiv{
  border-radius: 3px;
  padding: 2px 8px;
  margin: 8px 2px;
  border: 1px solid #aaaaaa;
  -moz-box-shadow:    0 0 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-shadow:         0 0 5px rgba(0, 0, 0, .3);  	
}
.creditDiv{
  border-radius: 3px;
  padding: 2px 8px;
  margin: 8px 2px;
  border: 1px solid #cccccc;
}


.resultMetricDiv{
  /*float: left;*/
  display: inline-block;
  vertical-align: top;	
  width: 300px;	
  max-width: 500px;	
  border-radius: 3px;
  margin: 8px 2px;
  border: 1px solid #aaaaaa;
  -moz-box-shadow:    0 0 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-shadow:         0 0 5px rgba(0, 0, 0, .3);  
}
.resultMetricTitle{
  padding: 2px 8px;
  background: #f4f5f6;
}
.resultMetricContent{
  padding: 2px 8px;
}

.pieChartWrapper{
  width: 100%;
  margin: 0 auto;	
}

.pieChart{
  width: 100px;	
  height:100px;
  padding: 8px 8px 8px 0px;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  display: block;  
}
.legend{
	font-size:smaller;
}

.subTaskDiv{
  border-radius: 3px;
  padding: 2px 8px;
  margin: 8px 2px;
  border: 1px solid #aaaaaa;
  -moz-box-shadow:    0 0 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-shadow:         0 0 5px rgba(0, 0, 0, .3);  	
}


.boxPlotLegendWrapper {
  display: table;
  border-radius: 3px;
  margin: 2px 0 0 0;
  /*margin: 0 auto;*/
  border: 1px solid #aaaaaa;
  -moz-box-shadow:    0 0 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-shadow:         0 0 5px rgba(0, 0, 0, .3);  
    	
}
.boxPlotLegendCol1, .boxPlotLegendCol2, .boxPlotLegendCol3, .boxPlotLegendCol4{
   display:table-cell;
}

.boxPlotLegendColSpacer{
   display:table-cell;
   height:100%;
   width:24px;
   background: #fff;  
}

.cells{
 padding: 1px 4px;
}

.min{
 background: #ffffff;
 color: #777;
}
.q1{
 background: #ffffff;
 color: #777;
}
.median{
 background: #ffffcc;
 color: #000;
}
.q3{
 background: #ffffff;
 color: #777;
}
.max{
 background: #ffffff;
 color: #777;
}

.mean{
 background: #ffffcc;
 color: #000;
}
.sd{
 background: #ffffff;
 color: #777;
}
.p85{
 background: #ffffcc;
 color: #000;
}



.composeTitleDiv{
  width: 100%;	
}
.composeIconDiv{
  float: left;
  width: 35px;	
}
.composeIcon{
  padding: 2px;	
}

.displayNone{
	display:none;
}

#wait {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.8;
   background-color: #ffffff;
   z-index: 999999;
   text-align: center;
}


#newMenu, #configMenu, #taskMenu, #addMenu, #saveMenu, #tutorialMenu, #aboutMenu{
   width: 24px;
   height: 24px;
   left: 3px;
   position: fixed;
   display: block;
   background-color: transparent;
   z-index: 999999;
   text-align: center;
}

#newMenu {
   top: 8px;
}
#configMenu {
   top: 35px;
}
#taskMenu {
   top: 65px;
}
#addMenu {
   top: 95px;
}
#saveMenu {
   top: 125px;
}
#tutorialMenu {
   top: 160px;
}
#aboutMenu {
   top: 190px;
}

.col1{
	 width: 90px;
}
.col2{
	 width: 70px;
}
.col3{
	 width: 30px;
}
.col4{
	 width: 100px;
}
.col5{
	 width: 150px;
}
.col6{
	 width: 150px;
}
.col7{
	 width: 80px;
}
.col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col17, .col18, .col19, .col20{
	 width: 40px;
}
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12,.col13,.col14,.col15,.col16,.col17,.col18,.col19,.col20 {
	display: inline-block;
}

.addSortablePadding{
  padding-left: 12px;	
}

.doughnut-legend{
/* list-style-type:none*/
}

.bootstrap{
	font-size:smaller;
	margin: 2px 0 0 0;
}
.ignoreNotice{
	font-size:smaller;
	font-weight:bold;	
}


.resetbutton {
  font: bold 8px;
  background-color: #33abff;
  border-radius: 50%;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #CCCCCC;
}

table.subtasks {

	border:1px solid black;
	border-collapse:collapse;
	table-layout: fixed;
}
table.subtasks th{
	border:1px solid #aaaaaa;
	/*padding: 2px 15px 2px 15px;*/
}
table.subtasks td {
	border-left:1px solid #dddddd;
	/*padding: 2px 15px 2px 15px;*/
}
table.subtasks thead th {
	background-color:#ccccff;
}
table.subtasks tfoot td {
	background-color:#ffccff;
}

table.subtasks tr.tbody_header {
	font-weight:bold;
	text-align:center;
	background-color:#dddddd;
}

table.subtasks a.pagelink {
	padding-left:5px;
	padding-right:5px;
	border:1px solid #666666;
	margin:0px 5px 0px 5px;
}
table.subtasks a.currentpage {
	background-color: yellow;
}
/* Striping / highligthing */
/*
.highlightSubTask, tr.alternate.highlightSubTask{
	background-color:#ffdddd;
    color: #ff3333;	
}
*/
.highlightSubTask, tr.alternate.highlightSubTask{
	background-color:#ddddff;
    color: #3333ff;	
}

tr.alternate {
	background-color:#ffffcc;
}

/* Sorting */
th.table-sortable {
	cursor:pointer;
	background-image:url("../img/sortable.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-asc {
	background-image:url("../img/sorted_up.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-sorted-desc {
	background-image:url("../img/sorted_down.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-filtered {
	background-image:url("../img/filter.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
select.table-autofilter {
	font-size:smaller;
}



table.subtasks tbody, table thead
{
  display: block;
}

table.subtasks tbody 
{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(90vh - 77px);

}


.sgdLine{
  white-space: nowrap;
  border-radius: 3px;
  padding: 0px;
  margin: 8px 2px;
  border: 1px solid #cccccc;
  cursor: default;	
  line-height: 25px;
}
.sgdSpan{
	display: inline-block;
	white-space: nowrap;
	border-collapse:collapse;
  	padding: 0px;
  	margin: 0px;
    line-height: 18px; 
			  
}

.sgdDriving{
	background: #eee;
}
.sgdSpeedo{
	background: #448;
}
.sgdTask{
	background: #fe0;
}
.sgdCombined{
	background: #a4a;
}
.sgdUnknown{
	background: #000;
}
.sgdP{
 opacity: 1.0;
 text-align: left;
} 
.sgdN{
 opacity: 1.0;
 text-align: right;
} 

.sgdOuterBox{
  font-size: smaller;
  border-radius: 3px;
  padding: 0px;
  margin: 8px 2px;
  border: 1px solid #aaaaaa;
  -moz-box-shadow:    0 0 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-shadow:         0 0 5px rgba(0, 0, 0, .3); 		
} 
.sgdInnerBox{
  padding: 2px 8px;
} 

.sgdTitle{
	
}

.sgdTable{
  display: block;
  overflow: auto;
  float:left;	
}

.sgdLegend{
  display: block;
  overflow: auto;
  float:left;	
}


.sgdLegendTitle{
  padding: 2px 8px;
  background: #f4f5f6;
}

.sgdLegendSpan{
	display: inline-block;
	white-space: nowrap;
  border-radius: 3px;
  padding: 2px 2px;
  margin: 2px 2px;
  border: 1px solid #cccccc;  
}
